@import "../../../styles.scss";
@import "../../../variables.scss";

.product-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
    gap: 2rem;
    
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

.product-details {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
    h1 {
        color: $accent-color-1;
        font-family: "Doto", sans-serif;
        font-weight: 800;
        margin-bottom: 0.5rem;
        font-size: 2rem;
    }
    
    .price {
        color: $accent-color-2;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
    
    .product-description {
        margin-bottom: 2rem;
        
        p {
            line-height: 1.6;
            color: $text-color-2;
            font-family: "Plus Jakarta Sans", sans-serif;
        }
    }
    
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        .quantity-control {
            display: flex;
            align-items: center;
            gap: 1rem;
            
            label {
                font-weight: bold;
                color: $text-color-1;
            }
            
            input[type="number"] {
                color: black;
                padding: 0.5rem;
                width: 70px;
                border: 2px solid $accent-color-3;
                border-radius: 0.25rem;
                text-align: center;
            }
        }
        
        .add-to-cart-btn {
            @include action-button;
            padding: 0.75rem;
            border-radius: 0.5rem;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.2s;
            max-width: 300px;
            
            &:hover {
                background: none;
                color: $accent-color-1;
            }
        }
    }
}