<div class="order-success-container">
  <div class="success-message">
    <div class="icon-container">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/>
      </svg>
    </div>
    <h1>{{ 'ORDER.ORDER_PLACED' | translate }}</h1>
    <p>{{ 'ORDER.SUCCESS_MESSAGE' | translate }}</p>
    
    <div class="action-buttons">
      <a routerLink="/order-history" class="view-orders-btn">{{ 'ORDER.VIEW_ORDERS' | translate }}</a>
      <a routerLink="/" class="continue-shopping-btn">{{ 'CART.CONTINUE_SHOPPING' | translate }}</a>
    </div>
  </div>
</div>