<div class="image-viewer">
    <div class="main-image-container">
      @if (images && images.length > 1) {
        <button class="nav-btn prev" (click)="prevImage()">
          &#10094;
        </button>
      }
      
      <img class="main-image" [src]="getCurrentImageUrl()" [alt]="'Product afbeelding'">
      
      @if (images && images.length > 1) {
        <button class="nav-btn next" (click)="nextImage()">
          &#10095;
        </button>
      }
    </div>
    
    @if (images && images.length > 1) {
      <div class="thumbnail-container">
        @for (image of images; track $index) {
          <div 
            class="thumbnail" 
            [class.active]="$index === currentIndex"
            (click)="selectImage($index)">
            <img [src]="image.path" [alt]="'Thumbnail ' + $index">
          </div>
        }
      </div>
    }
  </div>