@import "../../../../styles.scss";
@import "../../../../variables.scss";

section {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
    align-items: center;
    background-image: url("../../../../assets/images/splash.jpg");
    background-size: cover;
    background-position: center;

    #overlay {
        width: 100%;
        height: 90vh;
        z-index: 0;
        background: linear-gradient(180deg, dark-color-1(0.7) 0%, dark-color-1(0.7) 90%, $dark-color-1 100%);
        position: absolute;
        padding: 0px;
        margin: 0px;
    }

    * {
        margin: 0;
        padding: 0;
        height: fit-content;
        text-align: center;
        z-index: 1;
    }

    h1 {
        font-family: "Doto", sans-serif;
        font-size: 6em;
        color: $accent-color-1;
        font-weight: 800;
    }

    h2, a {
        font-family: "Plus Jakarta Sans", sans-serif;
        overflow: hidden;
    }

    h2 {
        color: $accent-color-3;
    }

    a {
        @include action-button;
        color: $dark-color-2;
        padding: .7%;
        border-radius: 10px;
    }
}